[submodule "shopping-cart"]
    path = shopping-cart
    url = https://github.com/JoseAv/shopping-cart


[submodule "PruebaTecnica"]
    path = PruebaTecnica
    url = https://github.com/JoseAv/React-Pruebas-v2