[submodule "shopping-cart"]
    path = shopping-cart
    url = https://github.com/JoseAv/shopping-cart


[submodule "PruebaTecnica"]
    path = PruebaTecnica
    url = https://github.com/JoseAv/PruebaTecnica

[submodule "Prueba-SemiSr-React"]
    path = Prueba-SemiSr-React
    url = https://github.com/JoseAv/Prueba-SemiSr-React